p {
  font-size: 24px;
  font-family: Roboto;
  cursor: default;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.content:focus {
  outline: none;
}

.content .calculatorBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 305px;
  height: 450px;
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 35px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.content .calculatorBody .showValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 245px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 23px;
}

.content .calculatorBody .btnGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 245px;
  height: 310px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .calculatorBody .btnGroup_operator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #757575;
  border-radius: 10px;
  color: #ffffff;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.content .calculatorBody .btnGroup_operator:active {
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3) inset;
}

.content .calculatorBody .btnGroup_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
}

.content .calculatorBody .btnGroup_number:active {
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3) inset;
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3) inset;
}

.content .calculatorBody .btnGroup_clear, .content .calculatorBody .btnGroup_backspace {
  background-color: #f87a7a;
  color: #ffffff;
}
/*# sourceMappingURL=Calculator.css.map */