p{
  font-size: 24px;
  font-family: Roboto;
  cursor: default;
}

html{
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}


.content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  &:focus{
    outline: none;
  }
  .calculatorBody {
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 450px;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 35px 30px;
    box-sizing: border-box;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
    .showValue {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 245px;
      height: 50px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
      padding: 0 10px;
      box-sizing: border-box;
      margin-bottom: 23px;
    }
    .btnGroup {
      display: flex;
      flex-wrap: wrap;
      width: 245px;
      height: 310px;
      align-content: space-between;
      justify-content: space-between;
      &_operator {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #757575;
        border-radius: 10px;
        color: #ffffff;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
        &:active{
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3) inset;
        }
      }
      &_number {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3);
        &:active{
          box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.3) inset;
          }
      }
      &_clear,&_backspace{
        background-color: #f87a7a;
        color: #ffffff;
      }
    }
  }
}
